<div class="row">
	<div class="shorten-form-centering">
		<div class="row">
			<h2>Shorten.it</h2>	
		</div>
		<div class="row">
			<div class="form-inline">
				<input type="text" name="shorten-link" id="shorten-link" class="form-control" size="50" placeholder="Paste your URL to shorten">
				<button id="shorten-generate" type="submit" class="btn btn-primary" disabled="disabled">Generate</button>
			</div>
		</div>
		<div class="row">
			<small id="shorten-input-err" class="text-danger"></small>
		</div>
		<div class="row">
			<div class="col md-6">
				<a id="shorten-url" href="#" class="pull-left" target="_blank"></a>
			</div>
			<div class="col md-6">
				<a id="shorten-url-stats" href="#" target="_blank" class="pull-right"></a>
			</div>
		</div>			
	</div>
</div>

